.button__wrapper {
  text-align: center;
}

.btn {
  border: 0;
  background-color: none;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--primary-dark);
}

.btn--primary:active {
  background-color: var(--primary-darkest);
}
